---
import { type MapNode, getDirectoryPath } from '@utils/navigation';

const { title, directory, categories, state } = Astro.props as {
  title: string;
  directory: string;
  categories: Record<string, MapNode[]>;
  state: boolean | undefined;
};

// Replace all "300" (of 3) in this file to change the transition speed of the sliding panels
---

<div id={directory} class="panel" data-state={state === true ? '1' : state === false ? '2' : '0'}>
  {
    title !== directory && (
      <div class="border-b pb-1">
        <button
          class="toggle-panel text-link before:svg-arrow hover:bg-background-alt relative rounded px-2 py-1 pl-5 font-bold uppercase before:top-1 before:left-0 before:rotate-180"
          data-target={getDirectoryPath(directory)}
        >
          Go Back
        </button>
        <h4 class="m-0 text-xl">{title}</h4>
      </div>
    )
  }
  {
    Object.entries(categories).map(([category, nodes]) => (
      <div>
        <p class="text-text-muted dark:text-text mb-1 text-xs font-bold uppercase">{category}</p>
        <ul class="text-text dark:text-text-muted">
          {nodes.map((node) =>
            node.href ? (
              <li class="nav-item">
                <a href={node.href} class="grow text-inherit">
                  {node.title}
                </a>
              </li>
            ) : (
              <li class="nav-item after:svg-arrow relative pr-5! after:right-0">
                <button class="toggle-panel scrollable-text-x" data-target={node.mapString}>
                  {node.title}
                </button>
              </li>
            )
          )}
        </ul>
      </div>
    ))
  }
</div>

<style>
  .nav-item {
    display: flex;
    border-left: 1px solid var(--color-border);
    padding: 0.25rem 0.5rem 0.25rem calc(0.75rem - 1px);

    &:hover {
      border-left: 3px solid var(--color-border);
      background-color: var(--color-background-alt);
      padding-left: calc(0.75rem - 3px);
    }

    &:has([aria-current='page']) {
      border-left: 3px solid var(--color-link);
      padding-left: calc(0.75rem - 3px);
      color: var(--color-link);
    }
  }

  /* toggle-panel can have other classes */
  .toggle-panel {
    cursor: pointer;
    width: 100%;
    text-align: left;
  }

  /* Base styles for all sliding panels */
  .panel {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 1rem;
    transition: transform 300ms;
    inset: 0;
    padding: 1rem 1rem;
    overflow-y: auto;
  }

  /* STATE 1: Active / Current Panel (Centered) */
  .panel[data-state='1'] {
    transform: translateX(0);
  }

  /* STATE 2: Past Panel (Shifted Left) */
  .panel[data-state='2'] {
    transform: translateX(-100%);
  }

  /* STATE 0: Hidden / Next Panel (Shifted Right) */
  .panel[data-state='0'] {
    transform: translateX(100%);
  }

  @keyframes disablePointerEvents {
    0% {
      pointer-events: auto;
    }
    99% {
      pointer-events: none;
    }
    100% {
      pointer-events: auto;
    }
  }
</style>

<script>
  let isThrottled = false;
  const toggleButtons = document.querySelectorAll<HTMLButtonElement>('button.toggle-panel');
  toggleButtons.forEach((button) => {
    button.addEventListener('click', () => {
      if (isThrottled) return;

      const currentPanel = button.closest('div.panel') as HTMLElement;
      const targetPanelId = button.getAttribute('data-target');
      if (!currentPanel || !targetPanelId) return;
      const targetPanel = document.getElementById(targetPanelId) as HTMLElement;
      if (!targetPanel) {
        console.error(`Target panel with ID "${targetPanelId}" not found.`);
        return;
      }
      isThrottled = true;

      // Update states
      const parentState = parseInt(currentPanel.dataset.state || '0');
      const nextState = parseInt(targetPanel.dataset.state || '0');
      const isNext = nextState < parentState;
      currentPanel.dataset.state = isNext ? '2' : '0';
      targetPanel.dataset.state = '1';

      setTimeout(() => {
        isThrottled = false;
      }, 300);
    });
  });
</script>
