---
import { SITE_TITLE, SITE_BASE } from '@src/consts';
import { Icon } from 'astro-icon/components';

import Search from '@components/Search.astro';
import ThemeToggle from '@components/ThemeToggle.astro';
import Github from '@components/Github.astro';

import { docsMap, getDirectoryPath } from '@utils/navigation';
import SidebarPanel from '@components/SidebarPanel.astro';

// state is false if pathname starts with the directory
// state is true if pathname is the directory
// state is undefined otherwise
const currentURL = Astro.url.pathname;
const state = (directory: string) => {
  // console.log(directory); // Uncomment this line get directories
  const pathname = getDirectoryPath(currentURL);
  if (pathname.startsWith(directory)) {
    return pathname === directory ? true : false;
  }
  return undefined;
};
---

<aside
  class="bg-background fixed z-20 flex w-full items-center justify-between gap-2 px-6 py-4 text-sm max-md:border-b md:h-full md:w-(--sidebar-width) md:flex-col md:border-r md:p-4"
>
  <div class="flex w-full items-center justify-between md:pt-2">
    <a href={`${SITE_BASE}`} class="text-foreground text-xl leading-none font-bold tracking-tight no-underline">
      {SITE_TITLE}
    </a>
    <div class="flex gap-2 text-2xl">
      <Github class="text-text hover:text-link-hover max-md:hidden" />
      <ThemeToggle />
    </div>
  </div>

  <div class="md:w-full md:pt-4">
    <Search>
      <button id="custom-pagefind-trigger" class="cursor-pointer text-2xl md:hidden" aria-label="search">
        <Icon name="mingcute:search-2-line" />
      </button>
      <div class="hidden grow md:flex">
        <pagefind-modal-trigger shortcut="/"></pagefind-modal-trigger>
      </div>
    </Search>
  </div>

  <div class="flex h-full items-center">
    <button
      class="text-text hover:text-link-hover text-2xl md:hidden"
      popovertarget="sidebar-nav-panels"
      aria-label="Toggle menu"
    >
      <Icon name="mingcute:menu-line" />
    </button>
    <nav
      id="sidebar-nav-panels"
      class="bg-background h-full w-(--sidebar-width) overflow-hidden border-r backdrop:bg-(--backdrop) max-md:shadow-(--shadow) md:relative md:block"
      aria-label="Docs navigation"
      popover
    >
      {
        docsMap.map((navMap) => (
          <SidebarPanel
            title={navMap.title}
            directory={navMap.href}
            categories={navMap.items}
            state={state(navMap.href)}
          />
        ))
      }
    </nav>
  </div>
</aside>

<script>
  // add active on pageload
  const sidebarLinks = document.querySelectorAll('#sidebar-nav-panels a') as NodeListOf<HTMLAnchorElement>;
  const currentPath = window.location.href.replace(/\.[^/.]+$/, '');
  // Loop through the selected links
  sidebarLinks.forEach((link) => {
    if (link.href === currentPath) {
      link.setAttribute('aria-current', 'page');
    }
  });
</script>
