---
import { type MapNode } from '@utils/navigation';

const { directory, categories, state } = Astro.props as {
  directory: string;
  categories: Record<string, MapNode[]>;
  state: boolean | undefined;
};
---
<div class="sidebar-panel">
  <h3>{directory} {state === true ? '(current)' : state === false ? '(prev)' : '(hidden)'}</h3>
  <ul>
    {Object.entries(categories).map(([category, nodes]) => (
      <li>
        <strong>{category}</strong>
        <ul>
          {nodes.map((node) => (
            <li>
              {node.href ? (
                <a href={node.href}>{node.title}</a>
              ) : (
                <input type="checkbox" id={node.mapString} />
                <label for={node.mapString}>{node.title}</label>
              )}
            </li>
          ))}
        </ul>
      </li>
    ))}
  </ul>
</div>