---
import Layout from '@src/layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Sidebar from '@components/Sidebar.astro';

type Props = CollectionEntry<'docs'>['data'];

const { title, description, pubDate, heroImage } = Astro.props;
---

<Layout title={title} description={description} heroImage={heroImage} pagefind={true}>
  <Sidebar />
  <main class="p-6 md:ml-(--sidebar-width) md:px-8">
    <article class="prose" data-pagefind-body>
      <div class="title">
        <FormattedDate date={pubDate} />
        <h1>{title}</h1>
      </div>
      <slot />
    </article>
    <aside class="toc-aside"></aside>
  </main>
</Layout>
